In [2]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {
        "nome": [
            "Maria", 
            "Raony",
            "Eduardo"],
        "idade": [25, 28, 26],
        "sexo": ["feminino", "masculino", "masculino"]
    }
)

In [6]:
print(df)

      nome  idade       sexo
0    Maria     25   feminino
1    Raony     28  masculino
2  Eduardo     26  masculino

In [10]:
df["sexo"]

0     feminino
1    masculino
2    masculino
Name: sexo, dtype: object

In [13]:
idades = pd.Series([22, 35, 58], name="Idades")
idades

0    22
1    35
2    58
Name: Idades, dtype: int64

In [16]:
df["idade"].max()

np.int64(28)

In [18]:
idades.max()

np.int64(58)