In [5]:
# if

nome = "Lucas"
if nome == "Raony":
    print("Está permitido assistir a aula.")
else:
    print("Não está permitido assistir a aula.")

Não está permitido assistir a aula.

In [7]:
# for (para)

for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
nomes_alunos = ["Eduardo", "Maria", "Raony", "Geovane"]

for n in nomes_alunos:
    print(n)

Eduardo
Maria
Raony
Geovane

In [11]:
# while

contador = 0
while contador < 5:
    print(contador)
    contador += 1

0
1
2
3
4

In [18]:
# def (define a fuction) ou definir uma função
def saudacao(nome, sobrenome):
    print("Olá, ", nome, sobrenome + "!")

saudacao("Hiago", "Santos")

Olá,  Hiago Santos!

In [20]:
def soma(a, b):
    print(a, b)
    return a + b

resultado = soma (3, 5)
print(resultado)

3 5
8

In [21]:
# modulos e pacotes
import math 
resultado_raiz_quadrada = math.sqrt(16)
print(resultado_raiz_quadrada)

4.0

In [22]:
import numpy as np
array = np.array([1, 2, 3])
print(array)

[1 2 3]

In [24]:
# estrutura de dados 
# lista

lista_de_frutas = ["maça", "banana", "uva"]
print(lista_de_frutas)

['maça', 'banana', 'uva']

In [27]:
primeira_fruta = lista_de_frutas[0]
segunda_fruta = lista_de_frutas[1]
print(primeira_fruta, segunda_fruta)

maça banana

In [28]:
lista_de_frutas[1] = "pera"
print(lista_de_frutas)

['maça', 'pera', 'uva']

In [30]:
lista_de_frutas.append("goiaba")
lista_de_frutas.append("laranja")
print(lista_de_frutas)

['maça', 'pera', 'uva', 'goiaba', 'laranja', 'goiaba', 'laranja']

In [31]:
# tuplas
coordenadas = (10, 20)

In [35]:
print(coordenadas)

(10, 20)

In [36]:
# dicionários

dicionario_de_contatos = {"Maria": "1234-5678", "Lucas": "8739-8327", "Raony": "3948-9348"}

In [38]:
telefone_de_maria = dicionario_de_contatos["Maria"]

In [39]:
print(telefone_de_maria)

1234-5678

In [43]:
dicionario_de_contatos["Eduardo"] = "5555-1212"

In [44]:
print(dicionario_de_contatos)

{'Maria': '1234-5678', 'Lucas': '8739-8327', 'Raony': '3948-9348', 'Eduardo': '5555-1212'}

In [46]:
# conjuntos

conjunto_de_numeros = {1, 2, 2, 3} # cada elemento na prática não se repete

In [47]:
print(conjunto_de_numeros)

{1, 2, 3}

In [48]:
conjunto_a = {1, 2, 3}
conjunto_b = {3, 4, 5}
uniao = conjunto_a.union(conjunto_b)
print(uniao)

{1, 2, 3, 4, 5}

In [50]:
alunos = [
    {"nome": "Maria", "idade": 25, "notas": [8, 7, 9]},
    {"nome": "Raony", "idade": 28, "notas": [8, 9, 10]},
    {"nome": "Eduardo", "idade": 26, "notas": [10, 10, 10]}
]

In [55]:
nota_da_maria = alunos[0]["notas"][0]
print(nota_da_maria)

8